@{
    ViewData["Title"] = "Cart";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<body>
    <div class="item active">
        <img class="group list-group-image img-fluid" src="images/img2.jpg" alt="" />
    </div>
</body>
